<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Films</title>
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/rating.css" type="text/css" media="screen" charset="utf-8">    
    <link rel="stylesheet" href="/stylesheets/jqModal.css" type="text/css" media="screen" charset="utf-8">        
    <link rel="stylesheet" href="/stylesheets/jquery-ui.css" type="text/css" media="screen" charset="utf-8">            
    <link rel="stylesheet" href="/stylesheets/jquery-fancybox.css" type="text/css" media="screen" title="no title" charset="utf-8">
    
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery-ui.js"></script>                
    <script src="/javascripts/jqModal.js"></script>     
    <script src="/javascripts/jquery-fancybox.js"></script>        
    <script src="/javascripts/jquery-mousewheel.js"></script>
    <script src="/javascripts/rating.js"></script>                 
    <script src="/javascripts/app.js"></script>       
    
  </head>
  
  <body>
    <div id="content"><%= yield %></div>
  </body>
  
</html>
