body {
  font-family: Georgia,"Century Schoolbook","Times New Roman",Times,serif;
  font-size: 18pt;
  background-color: #FFFFF3; 
	border-top: 15px solid #666666;
	margin:0;
	padding:0;
	width:100%;
}

a, a:visited {
	color:#000000;
	text-decoration:none;
}

img {
	border:1px solid #CCCCCC;	
}

h2 {
	font-size:2em;
}

#content {
	margin:0 auto;
	width:70%;
	padding-top:0.5em;
}

#searchFancy {
	width:610px;
	height:75px;
}

#searchFancy form {
	margin:0 auto;
}

#searchFancy input{
	font-size:2em;
	text-algin:center;
	width:600px;
	margin-left:5px;
	margin-top:5px;
	background-color:#EFEFEF;
}

#menuFancy {
	width:500px;
	height:250px;
	background-color:#EFEFEF;
}

#menuFancy a {
	color:#333333;
}

#menuFancy ul {
	list-style-type:none;
	margin:0;
	padding:0;
	padding-top:1em;	
	font-family:Lucinda Grande, sans-serif;
}

#menuFancy li {
	padding:0.25em 0em 0.25em 1em;
}

.oneColumns {
	list-style-type: none;
}

.twoColumns {
	list-style-type: none;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}

.threeColumns {
	list-style-type: none;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
}

.fourColumns {
	list-style-type: none;
	-moz-column-count: 4;
	-webkit-column-count: 4;
	column-count: 4;
}

.fiveColumns {	
	list-style-type: none;
	-moz-column-count: 5;
	-webkit-column-count: 5;
	column-count: 5;
}

.sixColumns {
	list-style-type: none;	
	-moz-column-count: 6;
	-webkit-column-count: 6;
	column-count: 6;
}

.sevenColumns {
	list-style-type: none;
	-moz-column-count: 7;
	-webkit-column-count: 7;
	column-count: 7;
}

.twoColumns li, .threeColumns li, .fourColumns li,  {
	height:300px;
}

.fiveColumns li, .sixColumns li, .sevenColumns li {
	height:175px;
}

#films { 
	border-collapse:collapse; 
	padding:0em;
	margin-right:0.25em;
}

#films h2.title {
	color:#800000;
	font-size:1.4em;
	margin-bottom:0.5em;
}

#films li {
	list-style: none outside none;
	width:100px;
	word-wrap:none;
}

#films div.poster {
	break-before: column;
}

#films div.title {
	break-after:column;
	font-size:0.5em;
	font-family:Lucinda Grande, sans-serif;
	display:none;
}

/* show.erb */

#film {
	width:100%;
	margin:0 auto;
}

#film h2.title {
	font-size:1.5em;
	margin-bottom:-0.3em;
}

#film .left {
	float:left;
	position:relative;	
	margin-right:2em;
	width:210px;
	height:600px;
	font-size:0.8em;
	font-family:Helvetica,sans;
	color:#333333;
}

#film .boxArt .extraInfo div {
	margin-top:1em;
}

#film .filmTypeWanted {
	text-transform:upcase;
	background-color:#999999;
	color:#EFEFEF;
	width:40%;
	text-align:center;
	margin:1em auto;
	padding:0.5em 0 0.5em 0;
	font-size:0.9em;
}

#film .filmTypeWanted a, #film .filmTypeWanted a:hover, #film .filmTypeWanted a:visited {
	color:#EFEFEF;
}

#film .filmTypeTemporary {
	text-transform:upcase;
	background-color:#800000;
	color:#EFEFEF;
	width:40%;
	text-align:center;
	margin:1em auto;
	padding:0.5em 0 0.5em 0;
	font-size:0.9em;
}

#film .filmTypeTemporary a{
	color:#EFEFEF;
}

#film .synopsis {
	margin-bottom:1em;
}

#film .misc ul {
	margin:0;
	padding:0;
	list-style-type:none;
}

#film .misc li {
	display:inline;
	color:#666666;	
	font-family:Helvetica,sans;
	font-size:0.8em;
	margin-right:1em;
}

#film li.mpaaRating {
	background-color:#333333;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-top:0.1em;
	padding-bottom:0.1em;	
	color:#EFEFEF;
}

#film table {
	font-size:16pt;
}

#film td {
	padding-right:2em;
	padding-bottom:1em;
	vertical-align:top;
}

#film .peopleList {
	padding-top:0.3em;
	padding-bottom:0.3em;
	font-size:0.9em;
}

#film .peopleListCategory {
	color:#800000;
	margin-right:2em;
}

#film .rating {
	color:#666666;
	font-size:0.8em;
	margin:0 auto;
	margin-bottom:1em;
	text-align:center;
}

#film #rating {
	margin-left:50px;
}

#film .rating .rating-cancel {
	display:none;
}

/* Director */

#director .bio {
	list-style-type: none;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}

#director .filmography {
}

#director tr {
}

#director td {
	font-size:1.5em;
	padding:0.5em;
}

#director td.year {
	color:#66666;
}

/* Small multiples */

.small_multiples {
	margin:0 auto;
}

.small_multiples td {
	padding:0.5em;
}

.small_multiples p {
	font-size:0.8em;
	margin:0em;
	padding:0em;
}

.small_multiples p.image_film {
	color:#666666;
	text-align:left;
}

.small_multiples p.image_year {
	color:#999999;
	text-align:right;
}