<div id="vlcControls" style="display:none">
<script type="text/javascript" charset="utf-8">
  $("a.play").click(
    function () {
      pl_play();
    }
  )
  
  $("a.pause").click(
    function () {
      pl_pause();
    }
  )
</script>

  <a class="play">Play</a>
  <a class="pause">Pause</a>  
</div>