<div id="menu" style="display:none">
  <ul>
    <li><a href="/">1. Available films</a></li>
    <li><a href="/want-to-watch">2. Films to download</a></li>
    <li><a href="#" onclick="searchModalBox(); return false;">3. Search</a></li>
    <li><a href="#" onclick="helpModalBox(); return false;">4. Help</a></li>
    <li><a href="#" onclick="shortcutsModalBox(); return false;">5. Shorcuts</a></li>
  </ul>
</div>
