<div id="search" style="display:none">
  <form action="/search" method="post" accept-charset="utf-8">
    <input id="query" type="text" name="query" value="<%= params[:query] || "Search" %>">        
  </form>
</div>