<table class="small_multiples">
  <tr>
    <td colspan="3">
      <h1 class="title">Point Blank</h1>
    </td>
  </tr>
  <tr>
    <td>      
      <a rel="image_link" title="Point Blank &copy;1967" href="/images/point/point-blank-noir-1.png">
        <img src="/images/point/point-blank-noir-1.png" />
      </a>
    </td>
    
    <td>      
      <a rel="image_link" title="Point Blank &copy;1967" href="/images/point/point-blank-noir-2.png">
        <img src="/images/point/point-blank-noir-2.png" />
      </a>
    </td>
    
    <td>      
      <a rel="image_link" title="Point Blank &copy;1967" href="/images/point/point-blank-noir-3.png">
        <img src="/images/point/point-blank-noir-3.png" />
      </a>
    </td>
    
    <td>      
      <a rel="image_link" title="Point Blank &copy;1967" href="/images/point/point-blank-noir-4.png">
        <img src="/images/point/point-blank-noir-4.png" />
      </a>
    </td>
  </tr>
  
  <tr>
    <td>
      <a rel="image_link" title="Point Blank &copy;1967" href="/images/point/point-blank-alienation-1.png">
        <img src="/images/point/point-blank-alienation-1.png" />
      </a>
    </td>
    
    <td>
      <a rel="image_link" title="Point Blank &copy;1967" href="/images/point/point-blank-alienation-2.png">
        <img src="/images/point/point-blank-alienation-2.png" />
      </a>
    </td>
    
    <td>
      <a rel="image_link" title="Point Blank &copy;1967" href="/images/point/point-blank-alienation-3.png">
        <img src="/images/point/point-blank-alienation-3.png" />
      </a>
    </td>
    
    <td>
      <a rel="image_link" title="Point Blank &copy;1967" href="/images/point/point-blank-alienation-4.png">
        <img src="/images/point/point-blank-alienation-4.png" />
      </a>
    </td>
  </tr>
  
  <tr>
    <td>
      <a rel="image_link" title="Point Blank &copy;1967" href="/images/point/point-blank-sexuality-1.png">
        <img src="/images/point/point-blank-sexuality-1.png" />
      </a>
    </td>
    
    <td>
      <a rel="image_link" title="Point Blank &copy;1967" href="/images/point/point-blank-sexuality-2.png">
        <img src="/images/point/point-blank-sexuality-2.png" />
      </a>
    </td>
    
    <td>
      <a rel="image_link" title="Point Blank &copy;1967" href="/images/point/point-blank-sexuality-3.png">
        <img src="/images/point/point-blank-sexuality-3.png" />
      </a>
    </td>
    
    <td>
      <a rel="image_link" title="Point Blank &copy;1967" href="/images/point/point-blank-sexuality-4.png">
        <img src="/images/point/point-blank-sexuality-4.png" />
      </a>
    </td>  
  </tr>
  
  <tr>
    <td>
      <a rel="image_link" title="Point Blank &copy;1967" href="/images/point/point-blank-kills-1.png">
        <img src="/images/point/point-blank-kills-1.png" />
      </a>
    </td>
    
    <td>
      <a rel="image_link" title="Point Blank &copy;1967" href="/images/point/point-blank-kills-2.png">
        <img src="/images/point/point-blank-kills-2.png" />
      </a>
    </td>
    
    <td>
      <a rel="image_link" title="Point Blank &copy;1967" href="/images/point/point-blank-kills-3.png">
        <img src="/images/point/point-blank-kills-3.png" />
      </a>
    </td>
    
    <td>
      <a rel="image_link" title="Point Blank &copy;1967" href="/images/point/point-blank-kills-4.png">
        <img src="/images/point/point-blank-kills-4.png" />
      </a>
    </td>
  </tr>
</table>

<script type="text/javascript" charset="utf-8">     
  $("a[rel=image_link]").fancybox({
    'modal' : true,
  	'transitionIn'	:	'elastic',
  	'transitionOut'	:	'elastic',
  	'speedIn'		:	200, 
  	'speedOut'		:	200, 
  	'overlayShow'	:	false,
  	'titlePosition'  : 'inside',
  	'titleFormat'       : function(title, currentArray, currentIndex, currentOpts) {
		    return '<span id="fancybox-title-inside">' + title + '<br />(' + (currentIndex + 1) + ' / ' + currentArray.length + ')</span>';
		}		
  });
 
  $(document).keydown(function(e){
    switch (e.keyCode) { 
    case 32: {
      window.location = "/"; 
      return false;
      break;
    }
    case 191: {
      return false;          
      break;
    }
  }});            
</script>

<style type="text/css" media="screen">
  .small_multiples img{
  	border:1px solid #333;
  	height:169px;
  	width:300px;
  }
</style>
